*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}   

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
}
.caixa-maior{
    background: #0a0a0a7c;;
    opacity: 0,7;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}
.input-cidade{
    display: flex;
    flex-wrap: wrap;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #faf8f82b;
    color:#fffefe;
    width:85%;
    
    
}

.botao-busca{
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(216, 210, 210);
  cursor: pointer;
  float: right;

}
.img-busca{
    width: 20px;
}
.caixa-media{
    margin-top: 30px;
}
.cidade{
    color: #f8f5f5;
    font-size: 28px;
    font-weight:300;
}
.placeholder{ color: #ffffff;

}
.temp{
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;

}
.caixa-menor{
    display: flex;
    align-items: center;
    margin-top: 20px;

}
.texto-previsao{
   color: #ffffff;
   margin: left 20px;
   text-transform: capitalize;
}
.umidade{
   color: #ffffff;
   margin-top: 20px;
}